.iframe-container {
    display: flex;
    justify-content: space-between; /* Розміщення елементів у ряд з однаковими проміжками між ними */
    width: 100%; /* Розтягнути контейнер на всю ширину */
}

iframe {
    width: calc(50% - 10px); /* 50% ширини від контейнера, враховуючи відступи */
}
