.button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3px;
    padding: 5px 15px;
    background-color: var(--accent-color) rgba(rgb(233, 223, 223), green, blue, alpha);
    text-decoration: none;
    color: var(--text-color);
    border-radius: 5px;
    border-color: 1px solid var(--border-color);
    text-align: start;
    :hover {
        text-decoration: underline;
}
}