@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Grenze+Gotisch:wght@100..900&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Peddana&family=Rubik+Glitch&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #000000;
  --text-color: rgb(151, 147, 147);
  --border-color: rgb(197, 190, 190);
  font-family: "Rubik Glitch", system-ui;
  scroll-behavior: smooth;
}

p {
  color: whitesmoke;
  font-family: "Gentium Book Plus", serif;
  font-weight: 400;
  font-style: normal;
}
img {
  display: block;
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: auto;
}
@media (min-width: 980px) {
    .container { 
        padding: 0 0 px;
    }
}