@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Rubik+Glitch&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #e96a4b;
  --text-color: black;
  --border-color: black;
  font-family: "Rubik Glitch", system-ui;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: auto;
}
@media (min-width: 980px) {
    .container { 
        padding: 0 0 px;
    }
}