.header {
  position: relative;
  z-index: 1;
}

.header a {
  color: var(--light-link-header);
}

.header__background {
  background-image: 
    url(../img/header-gif.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50.7% 0%;
}

.header__nav {
  background-image: url(../img/header-gif.gif);
  display: flex;
  align-items: center;
  color: var(--light-color);
  letter-spacing: 0.3px;
  justify-content: space-between;
  padding: 10px 0;
  gap: 6px;
  background-size: cover;
  
}

.header__nav-link {

  margin-left: 30px;
  display: block;
  width: 130px;
  height: 130px; /* Додайте висоту, щоб забезпечити круглу форму */
  border-radius: 50%;
  overflow: hidden; /* Запобігає виходу зображення за межі круга */
  text-align: center; /* Центрує зображення по горизонталі */
}
.header__nav-img {
  width: 100%; /* Розтягує зображення на весь доступний простір */
  height: 100%; /* Розтягує зображення на весь доступний простір */
  object-fit: cover; /* Забезпечує заповнення контейнера зображенням без спотворень */
  display: inline-block; /* Допомагає з центруванням */
  vertical-align: middle; /* Центрує зображення по вертикалі */
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 0;
  gap: 20px;
  
}

.nav-list__link a {
  position: relative;
  display: inline-block;
}

.nav-list__link:not(.btn-nav) a::before {
  content: "";
  bottom: -4px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  color: var(--light-color);
  opacity: 0.8;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

.nav-list__link:not(.btn-nav) a:hover::before {
  transform: scaleX(1);
  background-color: var(--light-color);
}

.header__nav-menu {
  top: -100vh;
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  gap: 30px;
  z-index: 1;
}

.header__menu-btn {
  display: block;
  width: auto;
  height: auto;
  padding: 19px 8px;
  margin-left: auto;
  cursor: pointer;
  transition: opacity 0.5s ease;
  order: 3;
}

.header__menu-btn:hover {
  opacity: 0.6;
}

.header__navicon {
  display: block;
  width: 24px;
  height: 2px;
  position: relative;
  background: var(--light-color);
  cursor: pointer;
  transition: background 0.2s ease-out;
}

.header__navicon::before,
.header__navicon::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: var(--light-color);
  transition: all 0.2s ease-out;
}

.header__navicon:before {
  top: 7px;
}

.header__navicon:after {
  top: -7px;
}

.header.nav-visible .header__nav-menu {
  top: 80px;
}

.header.nav-visible .header__background,
.header.nav-visible .header__nav-menu {
  background: var(--text-dark);
}

.header.nav-visible .header__navicon {
  background: transparent;
}

.header.nav-visible .header__navicon::before {
  transform: rotate(-45deg);
}

.header.nav-visible .header__navicon::after {
  transform: rotate(45deg);
}

.header.nav-visible .header__navicon::before,
.header.nav-visible .header__navicon::after {
  top: 0;
}

@media (min-width: 1110px) {
  .header__background {
    background-position: 51% 50%;
  }

  .header__nav {
    padding: 25px 0;
    gap: 8px;
  }

  .header__menu-btn {
    display: none;
  }

  .header__nav-menu {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    order: 2;
    gap: 8px;
    height: auto;
  }

  .nav-list {
    flex-direction: row;
    font-size: 15px;
    gap: 30px;
  }

  .header__nav-btn {
    margin-left: 20px;
  }
}

@media (min-width: 1200px) {
  .header__nav {
    gap: 15px;
  }

  .header__nav-menu {
    order: 0;
  }

  .btn-sub-nav {
    display: none;
  }

  .btn-nav {
    display: block;
    margin-right: 20px;
  }

  .header__nav-btn {
    margin-left: 0;
  }
}
@media (min-width: 600px) {
  .header__nav background-image {
  display: none;
}
}
.header__nav-menu {
  
  width: 100%; /* Заповнює ширину */
  
  left: 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  gap: 30px;
  z-index: 1000; /* Великий z-index для перекривання інших елементів */
 
  transition: transform 0.3s ease-in-out;
  
}



.header__menu-btn {
  cursor: pointer;
  z-index: 1001; /* Забезпечує, що кнопка завжди поверх меню */
}
