.indexhero {
  position: relative;
  height: 100vh;
  background-image: url("img/hero-picture.svg");
  display: flex;
  justify-content: center;
  align-items: center;
}
.indexhero__text {
  text-align: center;
  color: white;
}
