.product {
    background-color: var(--accent-color);
  padding: 5px;
}
.products__list {
    display: grid;
    gap: 5px;
    background-color: var(--accent-color);
}

.product-card {
    border: 2px solid var(--border-color) !important; /* Ensure border style */
    padding: 5px;
    width: 100%; /* Ensure each product card has a width of 100% */
}
.products__title {
    grid-template-columns: 1fr;
}
@media (min-width: 600px) {
    .products__list {
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width: 1200px) {
    .products__list {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}
