.video-gallery {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.videos {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Анімація прокрутки */
}

iframe {
    margin-right: 20px; /* Відступ між відео */
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 2px;
    border: none;
    color: white;
    font-size: 2px;
    cursor: pointer;
    background-image: url(../../img/header-gif.gif)
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}
