<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Deadend Men</title>
  <link rel="shortcut icon" href="img/DM_cover_620.jpg" type="image/x-icon" />
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://bootswatch.com/5/sketchy/bootstrap.min.css" />
  <link rel="stylesheet" href="css/index.css" />
  
</head>
<header class="header">
  <nav
    class="header__address"
    data-hx-trigger="load"
    data-hx-swap="outerHTML"
    data-hx-get="header-burger.html"></nav>
  
  <nav class="header__address" data-hx-trigger="load" data-hx-swap="outerHTML"
    data-hx-get="common-header-navigation.html"></nav>
</header>

<body class="body">
  <article class="hero">
    <div class="hero-modifier" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.hero.html"></div>
  </article>
  
    <div class="animated-carousel container">
      <div class="animated-carousel__inner">
          <div class="product-card"><img src="img/slides/08D8FC91-3416-44AA-BF48-8A57AA99AF95.JPEG" alt="Slide one"></div>
          <div class="product-card"><img src="img/slides/13685F5C-632C-4553-A76D-23D0B2FA66C8.JPEG" alt="Slide 2"></div>
          <div class="product-card"><img src="img/slides/055269EB-0960-4791-A1A6-C3E718D580AC.JPEG" alt="Slide 3"></div>
          <div class="product-card"><img src="img/slides/12EBC674-7B9F-4EC3-B290-ADF29D14DD18.JPEG" alt="Slide 4"></div>
          <div class="product-card"><img src="img/slides/9CDC54EA-E6D1-4DCC-9487-EB413B724281.JPEG" alt="Slide 5"></div>
          <div class="product-card"><img src="img/slides/2BACB567-0244-4DA5-88C1-B319D6BD228F.JPEG" alt="Slide 6"></div>
          <div class="product-card"><img src="img/slides/35EBA1EA-9FE4-4132-B286-AEB540DEFEC6.JPEG" alt="Slide 7"></div>
          <div class="product-card"><img src="img/slides/3C1EA9AC-5CA8-41DF-A0C6-9FE3EC5F7678.JPEG" alt="Slide 8"></div>
          <div class="product-card"><img src="img/slides/3565A230-C9FB-4E4E-AE77-BCEFE17B39CB.JPEG" alt="Slide 9"></div>
          <div class="product-card"><img src="img/slides/24920AFF-E099-4BE1-89BC-0F0D4CB264AB.JPEG" alt="Slide 10"></div>
          <div class="product-card"><img src="img/slides/1FAD6A82-5939-4715-A1AE-0F631094F472.JPEG" alt="Slide 11"></div>
          <div class="product-card"><img src="img/slides/2EC73303-498A-4224-A94C-824D3C9ABCB9.JPEG" alt="Slide 12"></div>
          <div class="product-card"><img src="img/slides/4C5471B7-8A7B-48FC-A520-7B9A1FD5A221.JPEG" alt="Slide 13"></div>
          <div class="product-card"><img src="img/slides/84321E59-9870-4ADC-9B4B-791427D38AD8.JPEG" alt="Slide 14"></div>
          <div class="product-card"><img src="img/slides/0EE49D7F-894D-40DB-88FE-A0CE9ED1C91D.JPEG" alt="Slide 15"></div>
          <div class="product-card"><img src="img/slides/FEC8BC55-1BA6-4824-90F1-3ED953D0B741.JPEG" alt="Slide 16"></div>
          <div class="product-card"><img src="img/slides/483A7CA7-2C61-4C52-AE03-82CFA267F210.JPEG" alt="Slide 15"></div>
      </div>
  </div>


  <video class="video" <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.video.main.html"></div>
  </video>
  <article class="merch">
    <div class="hero-modifier" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.merch.main.html">
    </div>
  </article>
  <script src="js/index.js"></script>
</body>
<footer>
  <div class="hero-modifier" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="common.footer.html"></div>
</footer>
<div class="fb-post" data-href="https://www.facebook.com/deadend.man" data-width="500" data-show-text="true"></div>

</html>