<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deadend Men</title>
    <link
      rel="shortcut icon"
      href="img/DM_cover_620.jpg"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/index.css" />
  </head>
    <header class="header">
      <nav
        class="header__address"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="common-header-navigation.html"
      ></nav>
    </header>
    <body class="body">
    <article class="hero">
      <div
        class="hero-modifier"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.hero.html"
      ></div>
    </article>
    <video class ="video" 
        <div
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.video.html"
        ></div>
    </video>
    <article class="merch">
      <div
        class="hero-modifier"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.merch.html"
      ></div>
    </article>
  </body>
  <div class="fb-post" data-href="https://www.facebook.com/deadend.man" data-width="500" data-show-text="true"></div>
</html>
